.details-section {
    background-color: white;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    font-size: 13px;
    color: #666;
    line-height: 1.66;
    padding: 16px 0;
}

.left-sidebar {
    width: 75%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 24px;
}

.right-sidebar {
    margin-top: 40px;
    margin-right: 40px;
    width: 25%;
    align-items: center;
}

.image {
    /* align-items: center; */
    box-sizing: border-box;
    width:40%;
    border: 1px solid #666;
    padding: 0 20px;
}

.image img {
    width:285px;
    height: 420px;
    margin: 0 auto;
    vertical-align: middle;
}

.details {
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details .title {
    height: 15%;
    padding: 0 12px;
    margin-top: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 700;
    color: #444;
    margin-bottom: 12px;
    text-align: center;

}

.details .author {
    height: 5%;
    display: block;
    margin: 5px 20px;
}

.details .description {
    height: 60%;
    text-indent: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align:justify;
    line-height: 1.66;
}
.rating {
    height: 10%;
    width: 150px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating .rating-count {
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.favourites {
    height: 10%;
    text-align: center;
    cursor: pointer;
    background: #2B7A78;
    padding: 8px;
    color: #fff;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
    margin-top: 15px;
   
}

.favourites i {
    margin-right: 4px;
}

table {
    border-collapse: separate;
    border-spacing: 1px; 
}

tbody tr {
    background: #f6f6f6;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody tr th {
    font-weight: 400 !important;
    font-size: 12px !important;
    padding: 4px 8px !important;
    color: #666;
    text-align: left;
    vertical-align: top;
}
tbody tr td {
    width:70%;
    font-weight: 400 !important;
    font-size: 12px !important;
    padding: 4px 8px !important;
    color: #666;
    text-align: left;
    vertical-align: top;
}


tbody:nth-child(odd) tr:nth-child(odd) {
  background-color: lightgray;
}

.bottom-bar {
    width: 1180px;
    min-height: 250px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    margin-top: 40px;
}

.bottom-bar .buttons button {

    display: block;
    cursor: pointer;
    color: rgb(39, 39, 39);
    background-color: #DEF2F0;
    border: none;
    width: 240px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
}

.bottom-bar .buttons .active {
    background-color: #c5c3c3;
    color: rgb(39, 39, 39);
    font-weight: 600;
    font-size: 16px;
}

.summary {
    background-color: white;
    width:100%;
    /* border: 1px solid #ddd; */
    padding:  32px 64px;

}

.summary p {
    text-align:justify;
}

.comments-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:24px;
    width:100%
}

.comments-form .comments-title {
    width:100%;
    height:50px;
    text-align: left;
    margin-bottom: 24px;

}

.comments-form .comments-title p {
    padding: 0;
    margin-bottom: 8px;
}

.comments-form .comments-title h2 {
    font-size: 24px;
    font-weight: 400;
}

.comments-form .username,
.comments-form .comment-text {
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.comments-form .username input {
    width: 100%;
    height: 30px;
}
.comments-form .comment-text textarea {
    width:100%;
    resize: none;
}

.comments-form .add-btn {
    border: none;
    border-radius: 4px;
    background-color: #2B7A78;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.all-comments {
    margin-bottom: 24px;
}

.all-comments .comment {
    height: 100%;
    margin-bottom: 24px;
}

.all-comments .comment .comment-content {
    margin-bottom: 24px;
}

.all-comments .comment .comment-author {
    margin-bottom: 24px;
}

.comment .comment-author span,
.comment .comment-content span {
    font-weight: 600;
    font-size: 16;
}

.buttons .nav-active {
    color: black;
}

.comment .delete {
    display: inline-block;
    text-align: end;
    cursor: pointer;
    margin-left: 600px;
    border: none;
    background-color: white;
}

.slide-content {
    height: 700px;
    width: 700px;
    box-shadow: 15px 15px 20px -2px rgb(0 0 0 / 15%);
}

.slide-content div {
    height: 700px;
}

.comments-form .error-msg {
    color: red;
    font-size: 12px;
    margin:0;
    padding: 0;
}

