.container {
    display: flex;
    padding: 20px 0;

}

.container .user-container {
    padding: 16px;
    margin-left: 90px;
    margin-right: 20px;
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 15px 15px 15px #ccc;
}

.container h3 {
    padding-left: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.428571429;
}

.container h2 {
    padding-left: 10px;
    text-align: left;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.428571429;
    margin-top: 15px;
    margin-left: 20px;
}

.user-container p {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    line-height: 1.2;
}

.favourite-container {
    width: 920px;
    min-height: 500px;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 15px 15px 15px #ccc;
}

.favourite-container ul {
    max-height: 400px;
    padding: 0 16px;
    overflow: auto;
}

.container .user-container .img {
    padding: 16px;
}

.container .user-container .login {
    cursor: pointer;
    background: #0082e6;
    width: 180px;
    display: block;
    margin: 16px auto;
    display: block;
    padding: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

.container .user-container .register {
    text-align: center;
    cursor: pointer;
    background: #42b72a;
    width: 180px;
    display: block;
    margin: 0 auto;
    display: block;
    padding: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.favourite-container .image {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    display: block;
    align-items: center;
}

.favourite-container .favourite-book ul {
    max-height: 400px;
    overflow: auto;
}

a {
    text-align: center;
    color: white;
    font-weight: 500;
}

.favourite-container .favourite-book .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: 15px;
}



.container .user-container .logout {
    text-align: center;
    cursor: pointer;
    background: #db0000;
    display: block;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 10px;

    display: block;
    padding: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

.favourite-container .favourite-book .buttons .delete {
    text-align: center;
    cursor: pointer;
    background: #db0000;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;

    display: block;
    padding: 12px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

.favourite-container .favourite-book .buttons .edit {
    text-align: center;
    cursor: pointer;
    background: #2d8a85;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;

    display: block;
    padding: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

.favourite-container .create {
    cursor: pointer;
    background: #0082e6;
    width: 200px;
    margin: 16px auto;
    display: block;
    padding: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 21px;
}

.favourite-container .favourite-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 1px solid #aaa;
    padding: 8px;
}

.favourite-container .favourite-book .book-img {
    width: 120px;
    height: 160px;
}

.favourite-container .favourite-book .book-img img {
    width: 100%;
    height: 100%;
}

.favourite-container .favourite-book .content {
    padding: 16px;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.favourite-container .favourite-book .content h3 {
    margin-bottom: 8px;
}

.favourite-container .delete i,
.favourite-container .edit i,
.user-container .logout i {
    margin-right: 4px;
}