.slide-container {
    display: block;
    height: 500px;
    width: 100%;
    box-shadow: 15px 15px 20px -2px rgb(0 0 0 / 15%);
}

.slide-container div {
    height: 500px;
}

@media (max-width:600px) {
    .slide-container {
        width: 580px;
        object-fit: cover;
    }
}