.catalog {
        display: inline-block;
        box-sizing: border-box;
        width: 96%;
        padding-right: 10px;
}

.articles-name {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 52px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.428571429;
    color: inherit;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}