header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1366px;
    z-index: 15;
    background-color: white;

}

.header {
    width: 88%;
    margin: 0 auto;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo {
    width: 5%;
}

.logo a img {
    padding-right: 15px;
    height: 40px;
}

.searcher {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #2B7A78;
    border-radius: 20px;
    margin: 0;
}

.searcher .search-logo {
    background-color: white;
    border: none;
    color: #2B7A78;
    cursor: pointer;
    
}

.search {
    width: 450px;
    height: 35px;
    /* border: 1px solid #2B7A78; */
    border:none;
    font-family: inherit;
    font-size: inherit;
    font: inherit;
    outline: 0;
    padding-left: 16px;
}




.tools {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 40%;
}

.tools i {
    color: #2B7A78;
}


.tool {
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #0e5c59;
    font-size: 14px;
    font-weight: 600;
}

.tool:hover  {
    color: #033533;

}



.links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    text-decoration: none;
}

.links i {
    margin-right: 8px;
}

@media (max-width:1230px) {
    .search {
        width: 400px;
        background-position: 375px;
    }
}

@media (max-width:1175px) {


    .tools {
        width: 25%;
    }

    .links span {
        display: none;
    }
}

@media (max-width:600px) {
    .header {
        display: grid;
        width: 100%;
        height: 100px;
        justify-content: space-around;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas:
            "logo tools"
            "searcher searcher";
        gap: 0px;
    }

    .header .searcher {
        grid-area: searcher;
        width: 80%;
        margin: 0 auto;
    }

    .header .logo {
        grid-area: logo;
    }

    .header .tools {
        grid-area: tools;
    }

    nav {
        display: none;
    }

}