.all-books {
    display: flex;
    width: 88%;
    min-height: 427px;
    margin:0 auto;
    align-items: center;
    justify-content:flex-start;
    min-height: 80vh;
    gap: 86px;
    flex-wrap: wrap;
    padding: 32px 0;
}

.no-books-found {
    font-size: 64px;
    color: gray;
    margin: 0 auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);

}


